.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.carousel img {
    width: 100%;
    display: none;
}
.carousel img.active {
    display: block;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: transparent;
    border: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
@media (max-width: 768px) {
    .prev, .next {
        font-size: 14px;
        padding: 12px;
    }
}
